.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color:rgb(0, 73, 0);
    transition: 0.3s;
    padding-top: 20px;
    z-index: 999;
}

.sidebar a {
    padding: 10px 25px;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;

}

.open-menu {
    left: 0;
}

/* Estilo para o cabeçalho */
header {
    background-color: rgb(0, 73, 0); /* Define a cor preta */
    color: white; /* Define a cor do texto como branco */
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

/* Estilo para o rodapé */
footer {
    background-color: rgb(0, 73, 0); /* Define a cor preta */
    color: white; /* Define a cor do texto como branco */
    text-align: center;
    padding: 10px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
  }
  .texto {
    text-align: center;
    background-color: #fff; /* Cor de fundo padrão */
    padding: 2px;
    transition: background-color 0.3s ease; /* Efeito de transição de cor */
    
    
}

/* Estilize a div com a classe "texto" ao passar o mouse sobre ela */
.texto:hover {
    background-color: rgb(0, 73, 0); /* Cor de fundo ao passar o mouse */
    color: #fff; /* Cor do texto ao passar o mouse */
}
.borda {
    border: 3px solid rgb(0, 73, 0);
    padding: 40px; /* Adicione preenchimento para criar um espaço entre a borda e o conteúdo */
  }
  .borda2 {
    border: 4px solid rgb(0, 73, 0);
    padding: 15px; /* Adicione preenchimento para criar um espaço entre a borda e o conteúdo */
  }
  .verde{
    background-color: rgb(0, 73, 0) ;
  }
  form {
    border: 2px solid rgb(0, 73, 0);
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: rgb(0, 73, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.upgrade{
    color: white

}
.lock{
    background-color: rgb(0, 73, 0) ;
    color:white;
}
.moving-line {
    width: 80px; /* Comece com largura zero */
    height: 50px; /* Altura da linha */
    background-color: rgb(0, 73, 0); /* Cor da linha */
    position: relative; /* Posição absoluta para animar */
    top: 15;
    left: 20;
    animation: expandLine 15s linear forwards; /* Duração da animação e nome da animação */
}

@keyframes expandLine {
    0% {
        width: 0;
    }
    100% {
        width: 100%; /* A largura chega a 100% */
    }
}
#video-bg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 50%;
    min-height: 50%;
    z-index: -1;
}
  .fundo {
    background-image: url('/fotos/floresta.png');
    background-size: cover; /* Isso faz a imagem cobrir todo o elemento */
    background-position: center center; /* Isso centraliza a imagem no elemento */
    border: 20px solid rgb(0, 73, 0);
    padding: 10px; /* Adicione preenchimento para criar um espaço entre a borda e o conteúdo */
    margin: 20px; /* Adiciona margem para espaçamento */
  }
  .fundo2 {
    background-size: cover; /* Isso faz a imagem cobrir todo o elemento */
    background-position: center center; /* Isso centraliza a imagem no elemento */
    border: 20px solid rgb(0, 73, 0);
    padding: 10px; /* Adicione preenchimento para criar um espaço entre a borda e o conteúdo */
    margin: 20px; /* Adiciona margem para espaçamento */
  }





